@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: 'Cutive Mono';
  src: url('fonts/Cutive_Mono/CutiveMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

html, body {
  padding: 0px;
  margin: 0px;
  -webkit-user-select: none;
  height: 100%;
  background: #3c3c3c;
  animation: fadein 0.5s;
}

.container {
  height: 100%;
  background-color: #3c3c3c;
  color: #cccccc;
  font-family: 'Open Sans';
}

/* Titlebar Styling */

.titlebar {
  color: #cccccc;
  height: 30px;
  width: 100%;
  background-color: #3c3c3c;
  padding: none;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
}

.titlebar-drag {
  -webkit-app-region: drag;
  width: 100%;
  height: 100% - 6px;
  margin: 6px 0px 0px 6px;
  display: flex;
}

.hourglass {
  height: 24px;
  width: 30px;
  background-image: url(./images/titlebar/hourglass-title.png);
}

.title {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 1.5;
  margin-left: 10px;
}

.titlebar-btn-container {
  width: 138px;
  display: flex;
}

.titlebar-btn {
  -webkit-app-region: no-drag;
  cursor: pointer;
  width: 46px;
  height: 30px;
}

#minimize-btn {
  background-image: url(./images/titlebar/minimize.jpg);
}

#close-btn {
  background-image: url(./images/titlebar/close.jpg);
}

.maximize-btn {
  background-image: url(./images/titlebar/maximize.jpg);
}

.unmaximize-btn {
  background-image: url(./images/titlebar/unmaximize.jpg);
}

#minimize-btn:hover, #maximize-btn:hover, #close-btn:hover {
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.2);
}

#close-btn:hover {
  background-image: url(./images/titlebar/close-hover.jpg);
}

/**/

.main-divider {
  width: 100% - 4px;
  height: 1px;
  margin: 0 2px 0 2px;
  background-color: #555555;
}

.main-content {
  padding: 40px;
}

/* Timer Styling */

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-size: 72px;
}

/* Timer Progress Styling */

.timer-progress-container {
  display: flex;
  align-items: center;
  width: 180px;
  height: 8px;
  margin: auto;
  margin-bottom: 16px;
}

.progress-container {
  height: 8px;
  background-color: #666666;
  width: 100%;
}

#progress {
  height: 100%;
  width: 0;
  background-color: #cccccc;
}

/* Timer Config Styling */

.timer-config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-config-row {
  display: flex;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.config-input {
  width: 40px;
  margin: 2px;
  text-align: center;
  color: white;
  background-color: #3c3c3c;
  border: 1px solid #555555;
  font-size: 16px;
  font-family: "Open Sans";
}

.config-input:focus {
  border: 1px solid #777777;
  outline: none;
}

::selection{
  background: #222222;
}

.config-btn {
  height: 30px;
  width: 55px;
  margin: 2px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #555555;
}

.config-btn:hover {
  background: #525252
}

.config-btn:active {
  background: #474747
}